<nav>
  <ul class="pagination">
    <li 
      class="page-item"
      [ngClass]="{ disabled: currentPage === 0}"
    >
      <a class="page-link">Prev</a>
    </li>
    <li 
      class="page-item" 
      [ngClass]="{ active: i === currentPage }"
      *ngFor="let image of images; let i = index;"
    >
      <a class="page-link">{{ i + 1 }}</a>
    </li>
    <li 
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1}"
    >
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<!--
  NgClass : Adds and removes CSS classes on an HTML element.
  { active: i === currentPage } -> creates an object, 
  on the object we are adding on the name of the class that we want to add
  as a key, and value for that is going to return boolean value,
  if true then active will be applied as a class to that li 
  else active will not be applied as a class to that li 
-->